*{padding: 0px;margin: 0px;}
body{
  font-family: ;  font-size:14px; 
  font-family: 'Roboto', sans-serif;
}

.main-section{
  width: 100%;
  background-color: #fcfcfc;
  background: #fcfcfc;
}
.main-section-left{
  width: 33%;float: left;
    padding: 15px 30px;
     border-right: 1px solid #f5f5f5;
}
.main-section-right{
  width: 67%;float: left;
    border-left: 1px solid #f5f5f5;
}
.left-logo{
  float: center;
}
.logo-img{width: 40%;  text-align: center;  margin: 25px;}
.logo-sec{width: 100%;}
.logo-sec1{float:left;width: 50%;}
.logo-sec2{float:left;width: 50%;}

input[type=text] {
   width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    background-color: white;  
    background-position: 10px 10px; 
    background-repeat: no-repeat;
  padding: 10px 10px 10px 10px;
 
}
a{text-decoration: none;}
a:hover{text-decoration: none;}
.nav-links{
  padding: 5px 5px;
}
.search-option{margin: 30px 5px;}
.add-pro {width: 100%;  padding: 15px 10px;margin:;
}
.sele-pro {width: 100%;  padding: 15px 10px;margin:;background-color: #65bf77;color: #fff;
}
.add-pro a{color:#83838a; }
.add-pro a:hover{color:#83838a; }
.sele-pro a{color: #fff;}
.sele-pro a:hover{color: #fff;}
.nav-one{padding: 15px 10px;color: #83838a;}
.nav-two{padding: 15px 10px;color: #83838a;}
.nav-one a{color: #83838a;}
.nav-two a{color: #83838a;}
.nav-one a:hover{color: #83838a;}
.nav-two a:hover{color: #83838a;}
ul li{padding-top: 3px; padding-bottom:3px;color: #83838a;  list-style-type: none;}
.bg-link{  background-color: #f5f6f7;}
.calender-date{
  width: 100%;
  border-bottom: 1px solid #ededed;color: #83838a;
  padding-top: 38px;
  padding-bottom: 50px;
}
.calender-date-left{
  float: left;width: 50%;
}
.calender-date-right{
 float: left;width: 50%;
}
.btn-tasks{color: #ffffff;background-color:#5db36e;background: #5db36e;border-radius: 20px;  padding: 5px 20px;
  border: 1px solid #5db36e;  margin-left: 20px;  margin-right: 20px; }
  .btn-tasks:hover{color: #ffffff;background-color:#5db36e;background: #5db36e;border-radius: 20px;  padding: 5px 20px;
  border: 1px solid #5db36e;  margin-left: 20px;  margin-right: 20px; }
.number-lab{  margin-left: 20px;  margin-right: 20px;  background-color: #fa7161;  padding: 5px 10px;
  border-radius: 13px;
  color: #fff;}
  .rgt-cls{float: right;}
  .user-test{
    width: 100%;
    border-bottom: 1px solid #ededed;color: #83838a;
    height: 80px;
    padding-top: 15px;
  }
  .user-test-left{
    float: left;width: 10%;
  }

  .user-test-center{
    float: left;width: 80%;
  }
   .user-test-right{
    float: left;width: 10%;
  }
  .user-text-icon{height: 40px;
  width: 40px;
  border: 1px solid #456789;
  border-radius: 20px;}
  .fs24{font-size: 24px;}
  .fs12{font-size: 12px;}
  .user-txt{color:#474445;}
  .check{margin-right: 20px !important;}
  .by-user{color: #a0a2a8;}
  .pl20{padding-left: 20px;}
  .cal{color:#68bd72;}
  .urgent{background-color: #ff7066;background:#ff7066;color: #fff;  padding: 0px 5px; border-radius: 4px;}
  .ending{background-color: #6ecbdb;background: #6ecbdb;color: #fff;padding: 0px 5px;  border-radius: 4px;}
/* #################responsive  css #####################*/

@media only screen and (min-width: 320px ){
.main-section-left{
  width: 100%;float: left;
    padding: 15px 30px;
     border-right: 1px solid #f5f5f5;
}
.main-section-right{
  width: 100%;float: left;
    border-left: 1px solid #f5f5f5;
}
.user-test{
    width: 100%;
    border-bottom: 1px solid #ededed;color: #83838a;
    height: 80px;
    padding-top: 15px;
  }
  .user-test-left{
    float: left;width: 20%;
  }

  .user-test-center{
    float: left;width: 65%;
  }
   .user-test-right{
    float: left;width: 10%;
  }

  .calender-date{
  width: 100%;
  border-bottom: 1px solid #ededed;color: #83838a;
  padding-top: 35px;
  padding-bottom: 35px;
  height: 150px;
}
.calender-date-left{
  float: left;width: 100%;
}
.calender-date-right{
 float: left;width: 100%;
}

}
@media only screen and (min-width: 480px ){

.main-section-left{
  width: 33%;float: left;
    padding: 15px 30px;
     border-right: 1px solid #f5f5f5;
}
.main-section-right{
  width: 67%;float: left;
    border-left: 1px solid #f5f5f5;
}
.user-test{
    width: 100%;
    border-bottom: 1px solid #ededed;color: #83838a;
    height: 80px;
    padding-top: 15px;
  }
  .user-test-left{
    float: left;width: 15%;
  }

  .user-test-center{
    float: left;width: 73%;
  }
   .user-test-right{
    float: left;width: 10%;
  }
.calender-date{
  width: 100%;
  border-bottom: 1px solid #ededed;color: #83838a;
  padding-top: 38px;
  padding-bottom: 50px;
}
.calender-date-left{
  float: left;width: 100%;
}
.calender-date-right{
 float: left;width: 100%;
}
}
@media only screen and (min-width: 768px ){
.main-section-left{
  width: 33%;float: left;
    padding: 15px 30px;
     border-right: 1px solid #f5f5f5;
}
.main-section-right{
  width: 67%;float: left;
    border-left: 1px solid #f5f5f5;
}
.user-test{
    width: 100%;
    border-bottom: 1px solid #ededed;color: #83838a;
    height: 80px;
    padding-top: 15px;
  }
  .user-test-left{
    float: left;width: 10%;
  }

  .user-test-center{
    float: left;width: 80%;
  }
   .user-test-right{
    float: left;width: 10%;
  }
  .calender-date{
  width: 100%;
  border-bottom: 1px solid #ededed;color: #83838a;
  padding-top: 38px;
  padding-bottom: 50px;
}
.calender-date-left{
  float: left;width: 50%;
}
.calender-date-right{
 float: left;width: 50%;
}
}
@media only screen and (min-width: 992px ){
.main-section-left{
  width: 33%;float: left;
    padding: 15px 30px;
     border-right: 1px solid #f5f5f5;
}
.main-section-right{
  width: 67%;float: left;
    border-left: 1px solid #f5f5f5;
}
.user-test{
    width: 100%;
    border-bottom: 1px solid #ededed;color: #83838a;
    height: 80px;
    padding-top: 15px;
  }
  .user-test-left{
    float: left;width: 10%;
  }

  .user-test-center{
    float: left;width: 80%;
  }
   .user-test-right{
    float: left;width: 10%;
  }



}
@media only screen and (min-width: 1200px ){
.main-section-left{
  width: 33%;float: left;
    padding: 15px 30px;
     border-right: 1px solid #f5f5f5;
}
.main-section-right{
  width: 67%;float: left;
    border-left: 1px solid #f5f5f5;
}
.user-test{
    width: 100%;
    border-bottom: 1px solid #ededed;color: #83838a;
    height: 80px;
    padding-top: 15px;
  }
  .user-test-left{
    float: left;width: 10%;
  }

  .user-test-center{
    float: left;width: 80%;
  }
   .user-test-right{
    float: left;width: 10%;
  }

}
